#demoPage1{
    background: linear-gradient(to right, #ff9966, #ff5e62);
}
#demoPage2{
    background: linear-gradient(to right, #C9D6FF, #E2E2E2);
}
#demoPage3{
    background: linear-gradient(to right, #ff9966, #ff5e62);
}